<div class="row">
  <div class="col-12 mt-2">
    <h2>Users List</h2>

    <div class="row mb-5">
      <div class="col-8 offset-2">
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <!--         {[Pycharm v2020.x.x +]} * ignore labels for * -->
          <input [(ngModel)]="search" type="text" class="form-control" placeholder="search me!">
        </div>
      </div>
    </div>

    <button class="btn btn-dark btn-block mb-5" [routerLink]="['user/'+0]">
      <i class="fa fa-plus"></i>
      Add a new user to db
    </button>


    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="on_column_select('id')">#</th>
          <th (click)="on_column_select('name')">Name</th>
          <th (click)="on_column_select('email')">Email</th>
          <th (click)="on_column_select('address')">Address</th>
          <th (click)="on_column_select('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of (users$ | async)! | filter: filter_key : phrase | sorter: sort_mem">
          <!--          async makes temp variable that gets change detected?-->
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <!--          index error?-->
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="delete_this_user(user.id)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
